name: 'TAGML'
scopeName: 'text.tagml'
#type: 'tree-sitter'
#parser: 'tree-sitter-tagml'
fileTypes: [ 'tagml', 'tag' ]

patterns: [
  {
    comment: 'namespace'
    name: 'markup.link'
    match: '\\[!ns [^]]+]'
  },
  {
    comment: 'comment'
    name: 'comment'
    begin: '\\[!--'
    end: '--]'
  },
  {
    comment: 'set.open'
    name: 'keyword.control'
    match: '<\\|'
  },
  {
    comment: 'set.close'
    name: 'keyword.control'
    match: '\\|>'
  },
  {
    comment: 'set.divider'
    name: 'keyword.control'
    match: '\\|'
  },
  {
    comment: 'markup start tag'
    name: 'keyword'
    match: '\\[([a-zA-Z0-9_]+)(\\|)?([\\+,a-zA-Z0-9]+)?>'
    captures:
      1:
        name: 'entity.name.type'
      2:
        name: 'keyword'
      3:
        name: 'entity.other.inherited-class'
  },
  {
    comment: 'markup milestone tag'
    name: 'keyword'
    match: '\\[([a-zA-Z0-9_]+)(\\|)?([\\+,a-zA-Z0-9]+)?\\]'
    captures:
      1:
        name: 'entity.name.type'
      2:
        name: 'keyword'
      3:
        name: 'entity.other.inherited-class'
  },
  {
    comment: 'markup end tag'
    name: 'syntax.keyword.tagml'
    match: '<([a-zA-Z0-9_]+)(\\|)?([\\+,a-zA-Z0-9]+)?\\]'
    captures:
      1:
        name: 'entity.name.type'
      2:
        name: 'keyword'
      3:
        name: 'entity.other.inherited-class'
  },

]

folds: [
  type: 'comment'
]
