name: 'TAGML'
scopeName: 'text.tagml'
#type: 'tree-sitter'
#parser: 'tree-sitter-tagml'
fileTypes: [ 'tagml', 'tag' ]

patterns: [
  {
    comment: 'namespace'
    name: 'namespace.tagml'
    match: '\\[!ns [^]]+]'
  },
  {
    comment: 'comment'
    name: 'comment.tagml'
    begin: '\\[!--'
    end: '--]'
  },
  {
    comment: 'set.open'
    name: 'set.open.tagml'
    match: '<\\|'
  },
  {
    comment: 'set.close'
    name: 'set.closer.tagml'
    match: '\\|>'
  },
  {
    comment: 'set.divider'
    name: 'set.divider.tagml'
    match: '\\|'
  },
  {
    comment: 'markup start tag'
    name: 'markup.start.tagml'
    match: '\\[([a-zA-Z0-9_]+)(\\|)?([\\+,a-zA-Z0-9]+)?>'
    captures:
      1:
        name: 'name.tagml'
      2:
        name: 'layer.divider.tagml'
      3:
        name: 'layer.name.tagml'
  },
  {
    comment: 'markup milestone tag'
    name: 'markup.start.tagml'
    match: '\\[([a-zA-Z0-9_]+)(\\|)?([\\+,a-zA-Z0-9]+)?\\]'
    captures:
      1:
        name: 'name.tagml'
      2:
        name: 'layer.divider.tagml'
      3:
        name: 'layer.name.tagml'
  },
  {
    comment: 'markup end tag'
    name: 'markup.end.tagml'
    match: '<([a-zA-Z0-9_]+)(\\|)?([\\+,a-zA-Z0-9]+)?\\]'
    captures:
      1:
        name: 'name.tagml'
      2:
        name: 'layer.divider.tagml'
      3:
        name: 'layer.name.tagml'
  },

]
