name: 'TAGML'
scopeName: 'text.tagml'
fileTypes: [ 'tagml', 'tag' ]
limitLineLength: false

patterns: [
  {
    comment: 'namespace'
    name: 'namespace.tagml'
    match: '\\[!ns [^]]+]'
  },
  {
    comment: 'comment'
    name: 'comment.tagml'
    match: '\\[!--.*--]'
  },
  {
    comment: 'set.open'
    name: 'set.open.tagml'
    match: '\\[!--.*--]'
  },
  {
    comment: 'markup start tag'
    name: 'markup.start.tagml'
    match: '\\[.*?>'
  },
  {
    comment: 'markup end tag'
    name: 'markup.end.tagml'
    match: '<.*?]'
  }
]
